<!doctype html>
<!-- 
Author: Sebastian Mancke
License: CreativeCommons Attribution-ShareAlike, http://creativecommons.org/licenses/by-sa/3.0/
--><html ng-app="presentation">
  <head>
    <title>AngularJS Einführung</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=800" />
    <link href="./lib/bootstrap.css" rel="stylesheet" media="screen"/>
    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/bootstrap.min.js"></script>
    <script src="./lib/angular.min.js"></script>
    <script src="./lib/angular-locale_de-de.js"></script>
    <script src="./lib/angular-resource.min.js"></script>

    <link href="./lib/prettify/prettify.css" rel="stylesheet" media="screen"/>
    <script src="./lib/prettify/prettify.js"></script>

    <script src="./tarent-slide/tarent-slide.js"></script>
    <link href="./tarent-slide/tarent-slide.css" rel="stylesheet"/>

    <script src="./lib/live.js"></script>

    <script>
     /**
      * This directive allows us to list code from the live presentation examples
      * within a pretified listing.
      */
     app.directive('listing', [function () {
       return {
	 restrict: 'AE',

	 link: function (scope, elem, attrs) {
	   var targetElement = $( '#' + attrs.targetid );
	   var html = targetElement.html();
	   html = html.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').trim();
	   html = html.replace(/ng-binding/g, '').replace(/ng-pristine/g, '').replace(/ng-scope/g, '').replace(/ng-valid/g, '').replace(/ class="\W?"/g, '');
	   //html = html.replace(/\n\w+/g, '\n');
	   html = html.replace(/\n.*!-- ngIf:.*/g, '');
	   html = html.replace(/\n.*!-- ngRepeat:.*/g, '');
	   elem.html(html+elem.html());
	   elem.addClass('prettyprint');
	 }		
       }
     }]);
    </script>
  </head>
  <body onload="prettyPrint()">

    <slide>
	<img style="position: relative; top: 200px; left: 0px" src="res/angular_logo.png">
	<div style="position: relative; top: 50px; right: 20px; margin: auto;">
	  <p>
	    <h2 style="text-align: right; font-size: 80px; line-height: 80px;">AngularJS</h2>
	    <h2 style="text-align: right">Sebastian Mancke</h2>
	  </p>
	</div>
    </slide>

    <slide>
      <h1>AngularJS - Einordnung</h1>
      <br>
      <h2>Kernkonzepte</h2>
      <ul>
	<li>Umfassendes MVC Framework</li>
	<li>Ausgerichtet auf Single Page Apps</li>
	<li>Browser-Seitiges Templating</li>
	<li>Designed auf Testbarkeit</li>
      </ul>
      <br>
      <h2>Abgrenzung</h2>
      <ul>
	<li>zu JQuery: Deklarativ, Wenig Hacking im DOM</li>
	<li>zu Knockout.JS: Viel umfassender</li>
      </ul>
    </slide>

    <slide>
      <h1>Die Basics</h1>
      <h2>Deklaration und Includes</h2>      
      <br>
      <pre class="prettyprint" style="padding-bottom: 0px">
&lt;html ng-app="presentation"&gt;
...
&lt;script src="./lib/jquery.min.js"&gt;&lt;/script&gt;
&lt;script src="./lib/angular.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
    var app = angular.module('presentation', []);
&lt;/script&gt;</pre>
      <br><ul>
	<li>Eine Page kann mehrere Apps beinhalten.</li>
	<li>angular.min.js ~ 97K
	<li>Initialisierungszeit inkl. JQuery: ~250ms</li>
	<li>Nutzt JQuery, kann aber auch ohne (eingeschränkte Funktionalität)</li>
      </ul>
    </slide>
    
    <slide>
      <div id="simpleBindingExample">
	<h1>Einfache Bindings {{demo}}</h1>
	AngularJS erm&ouml;glicht ein Templating direkt im Browser.
	<p>Demo: {{demo}}</p>
	<input class="form-control" type="text" ng-model="demo"> 
      </div>
      <hr/>
      <pre listing targetId="simpleBindingExample"></pre>
    </slide>

    <slide>
      <h1>Bindings - weitere Beispiele</h1>
      AngularJS verfügt über eine Reihe praktischer Hilfsmittel für Bindings: <code>ng-model</code>, <code>ng-if</code>, <code>ng-init</code>

      <br><br>
      <pre listing targetId="checkboxBindingExample">

&lt;h3 ng-if="state != 'disabled'">AngularJS ist cool!&lt;/h3&gt;</pre>
      <hr>
      <div id="checkboxBindingExample">
	<input type="checkbox" ng-model="state" ng-true-value="enabled" ng-false-value="disabled" ng-init="state='enabled'">
	<p>State: {{state}}</p>
	<select class="form-control" ng-model="state">
          <option>enabled</option>
          <option>disabled</option>
	</select>
	<h3 ng-if="state == 'enabled'">AngularJS ist cool!</h3>      
      </div>
    </slide>

    <slide>
      <h1>Bindings - classen und styles</h1>
      Für typische HTML-Aufgaben hat AngularJS passende Direktiven.
      <br>
      <h2><code>ng-class</code></h2>
      <pre listing targetId="styleBindingExample"></pre>  
      <div id="styleBindingExample">
	<input type="checkbox" ng-model="everyThingOk" ng-init="everyThingOk=true">
	<span ng-class="{'alert-success':everyThingOk, 'alert-danger':!everyThingOk }"  class="alert">This is the message</span>
      </div>
      <br>
      <hr/>
      <h2><code>ng-style</code></h2>
      <pre listing targetId="styleBindingExample2"></pre>  
      <div id="styleBindingExample2">
	<button class="btn" ng-click="myStyle={color:'red', 'font-weight':'bold'}">red</button>
	<button class="btn" ng-click="myStyle={'color':'blue'}">blue</button>
	<span ng-style="myStyle">Sample Text, myStyle={{myStyle}}</span>
      </div>
    </slide>   
   
    <script id="bindingExample1">
     app.controller('BindingsCtrl1', function($scope) {
       console.log('init controller ..');
       $scope.answer = 42;
       $scope.anyFunction = function () {
	 $scope.question = ', is the answer!';
       }});
    </script>
    <slide>
      <h1>Controller</h1>
      <h3>Logik ist in AngularJS in controllern organisert.</h3>
      <ul>
	<li>Controller definieren einen <b>Scope</b> für Variablen.</li>
	<li>Initialisierungscode wird direkt ausgeführt.</li>
	<li>Funktionen werden im <code>$scope</code> agbelegt.</li>
      </ul>
      <hr/>
      <div class="container-fluid">
	<div class="row">
	  <div class="col-md-8">
	    <pre listing targetId="bindingExample1"></pre>
	  </div>
	  <div class="col-md-offset-1 col-md-3" id="bindingExampleHtml1">
	    <div  ng-controller="BindingsCtrl1">
	      <button type="button" class="btn" ng-click="anyFunction()">Click me</button>
	      <h3>{{answer}}{{question}}</h3>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12">
	    <pre listing targetId="bindingExampleHtml1"></pre>
	  </div>
	</div>
      </div>	  
    </slide>

    <script id="formaterController">     
     app.controller('FormaterCtrl', function($scope) {
       $scope.number = 42;
       $scope.time = new Date();	        
     });
     app.filter('custom', function() {
       return function(value) {
	 return '-' + value +'.00 bli bla';
       }
     })
    </script>
    <slide ng-controller="FormaterCtrl">
      <h1>Formater</h1>
      <h3>Zuf Formatierung von Werten gibt es Formater.</h3>
      
      <pre listing targetId="formaterController"></pre>
      <pre listing targetId="formaterControllerUsage"></pre>
      <hr/>
      <div id="formaterControllerUsage">
	<div>Number: {{number | number:4}}</div>
	<div>Currency: {{number | currency}}</div>
	<div>Custom: {{number | custom}}</div>
	<div>Time: {{time | date:'medium'}}</div>
      </div>
    </slide>

    <script id="repeatController">
     app.controller('RepeatController', function($scope) {
       $scope.persons = [
	 {first: 'Arthur', last: 'Dent'},
	 {first: 'Zaphod', last: 'Beeblebrox'},
	 {first: 'Marvin', last: 'robot'},
       ]});
    </script>
    <slide>
      <h1>Iteration über Daten</h1>
      <h3>Mit <code>ng-repeat</code> lassen sich einfach Tabellen und Listen aufbauen.</h3>
      <pre listing targetId="repeatController"></pre>
      <pre class="prettyprint">
&lt;table class=".." ng-controller="RepeatController"&gt;
    &lt;tr ng-repeat="person in persons"&gt;
        &lt;td&gt;{&#8203;{person.first}}&lt;/td&gt; &lt;td&gt;{&#8203;{person.last}}&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</pre>
      <table class="table table-striped table-bordered" ng-controller="RepeatController">
	<tr ng-repeat="person in persons">
	  <td>{{person.first}}</td>
	  <td>{{person.last}}</td>
	</tr>
      </table>
    </slide>

    <slide ng-controller="RepeatController">
      <h1>Iteration - Filter + Sortierung</h1>
      <h3>Filter und Sortierung lassen sich einfach einbauen.</h3>
      <pre listing targetId="searchOrder"></pre>
      <pre listing targetId="searchFilter"></pre>
      <pre class="prettyprint">&lt;tr ng-repeat="person in persons | orderBy:filterRow | filter: filterText"&gt;</pre>

      <form class="form-inline" role="form">
	<div class="form-group" id="searchOrder" >
	  <select class="form-control" ng-model="orderField">
            <option>first</option>
            <option>last</option>
	  </select>
	</div>
	<div class="form-group" id="searchFilter" >
	  <input class="form-control" type="text" ng-model="filterText"> 
	</div>
      </form>
      <br>
      <table class="table table-striped table-bordered" >
	<tr ng-repeat="person in persons | orderBy:orderField | filter: filterText">
	  <td>{{person.first}}</td>
	  <td>{{person.last}}</td>
	</tr>
      </table>
    </slide>

    <slide>
      <h1>Scopes</h1>
      <h2>Was sind Scopes</h2>
      <ul>
	<li>Scopes sind die AngularJS-Datenobjekte, die das Modell beinhalten.</li>
	<li>Jeder Ausdruck wird im Kontext eines Scope ausgeführt.</li>
	<li>Die Scopes sind hierarchisch entlang des DOM geschachtelt.</li>
      </ul>
      <h2>Child Scopes</h2>
      <ul>
	<li>Scopes können geschachtelt werden.</li>
	<li>Geschachtelte Scopes erben Properties des übergeordneten Scope.</li>
	<li>Eigene properties sind nach außen nicht sichtbar.</li>
      </ul>
      <h2>Isolierte Scopes</h2>
      <ul>
	<li>Erben keine Daten.</li>
	<li>Können aber Properties über ein Mapping an parent scope binden.</li>	
      </ul>
    </slide>

    <slide>
      <h1>Änderungen überwachen</h1>      
      <h2><code>$scope.$watch()</code></h2>
      <h3>Mit $watch() kann das Datenmodell überwacht werden.</h3>
      Verwendung: <code>$watch(watchExpression, [listener], [objectEquality]);</code>
      
      <br>
      <br>
      <h2><code>$scope.$watchCollection()</code>
      <h3>Dienst zur BEobachtung der Inhalte von Collections.</h3>
      Verwendung: <code>$watchCollection(obj, listener);</code>
      
      <br>
      <br>
      <hr>
      <pre class="prettyprint">
$scope.$watch('backlogItems', function(newValue, oldValue) {
	console.log('user has modified "$scope.backlogItems" ..');
	..
    }
}, true);</pre>
    </slide>

    <slide>
      <h1><code>$scope.$apply()</code></h1>
	<h3>Manipulationen am Datenmodell müssen immer im Kontext von 
	  AngularJS erfolgen. Sonst erfolgt kein Update der View.</h3>
	<br>
	<h3>Dies kann über <code>$scope.apply()</code> erzwungen werden.</h3>
	<br>
	<h3>Häufigste Anwendung: 
	  <ul>
	    <li>window.setTimeout()</li>
	    <li>native DOM-Events</li>
	    <li>Einbindung vorhandener Komponenten</li>
	  </ul>
	</h3>
    </slide>

    <script id="svgController">
     app.controller('SVGCtrl', function($scope) {
       var shift = 135;
       $scope.circle = { r:130, x: shift, y: shift };

       function update() {
	 $scope.date = new Date();	 

	 var sec = $scope.date.getSeconds()  + $scope.date.getMilliseconds()/1000;
	 var min = $scope.date.getMinutes() + $scope.date.getSeconds()/60;
	 var h = $scope.date.getHours()%12 + $scope.date.getMinutes()/60;
	 $scope.quarter = (1+ Math.cos(sec/60 * Math.PI * 24)) * 5 + 2;
	 $scope.sec = { x: shift + 100 * Math.cos(sec/60 * Math.PI * 2 - Math.PI/2),
			y: shift + 100 * Math.sin(sec/60 * Math.PI * 2 - Math.PI/2) };
         $scope.min = { x: shift + 100 * Math.cos(min/60 * Math.PI * 2 - Math.PI/2),
			y: shift + 100 * Math.sin(min/60 * Math.PI * 2 - Math.PI/2) };
	 $scope.hour = { x: shift + 40 * Math.cos(h/12 * Math.PI * 2 - Math.PI/2),
			 y: shift + 40* Math.sin(h/12 * Math.PI * 2 - Math.PI/2) };

	 window.setTimeout(function() {$scope.$apply(update)}, 100);
       }       
       update();
     });
    </script>
    <slide ng-controller="SVGCtrl">
      <h1>AngularJS Spielereien mit SVG</h1>
      <h3>Nicht nur HTML lässt sich mit Bindings versehen!</h3>
      <pre listing targetId="svg"></pre>
      {{date | date:'medium'}}
      <div id="svg" style="position: relative; left: 350px; top: -30px;">
	<svg width="280" height="280" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <circle ng-attr-cx="{{circle.x}}" ng-attr-cy="{{circle.y}}" ng-attr-r="{{circle.r}}" 
	  style="stroke:#7D7D7D;fill:#EBEBEB" ng-attr-stroke-width="{{quarter}}"/>
  <line ng-attr-x1="{{circle.x}}"  ng-attr-y1="{{circle.y}}" ng-attr-x2="{{sec.x}}"  ng-attr-y2="{{sec.y}}" 
	style="stroke:#E16969;stroke-width:1" />
  <line ng-attr-x1="{{circle.x}}"  ng-attr-y1="{{circle.y}}" ng-attr-x2="{{min.x}}"  ng-attr-y2="{{min.y}}" 
	style="stroke:#E16969;stroke-width:5" />
  <line ng-attr-x1="{{circle.x}}"  ng-attr-y1="{{circle.y}}" ng-attr-x2="{{hour.x}}"  ng-attr-y2="{{hour.y}}" 
	style="stroke:#E16969;stroke-width:5" />
	</svg>
      </div>
    </slide>

    <slide ng-controller="SVGCtrl">
      <h1>AngularJS Spielereien mit SVG</h1>
      <pre listing targetId="svgController"></pre>
    </slide>
      
    <script id="service">
     app.service('helloService', function() {
       this.sayHello = function() {
	 return "Hello, World!"
       };
     });
    </script>     
    <script id="factory">
     app.factory('helloFactory', function() {
       return {
	 sayHello: function() {
	   return "Hello, World!"
	 }
       }});
    </script>
    <slide>
      <h1>Factories und Services</h1>
      Geteilte Daten oder zentrale Funktionalität der Controller werden ausgelagert. 
      <h2>Services</h2>
      <pre listing targetId="service"></pre>
      <h2>Factories</h2>
      <pre listing targetId="factory"></pre>
    </slide>

    <script id="dependencyInjection1">
     app.controller('DependencyInjection1', function($scope, helloService, helloFactory) {
       console.log(helloService.sayHello())
       console.log(helloFactory.sayHello());
     });
    </script>
    <script id="dependencyInjection2">
     app.controller('DependencyInjection2', ['$scope', 'helloService', 'helloFactory', 
					 function($scope, helloService, helloFactory) {
       console.log(helloService.sayHello())
       console.log(helloFactory.sayHello());
     }]);
    </script>
    <slide>
      <h1>Dependency injection</h1>
      <h3>Abhängigkeiten in controllern werden 'injected':</h3>
      <pre listing targetId="dependencyInjection1"></pre>
      <h3>Alternative Schreibweise:</h3>
      <ul>
	<li>Namen in Strings eingeschlossen</li>
	<li>Robust gegen minifying</li>
      </ul>
      <pre listing targetId="dependencyInjection2"></pre>
    </slide>    
  </body>
</html>
